@import "../../styles/_vars"

.wrapper
	display: flex
	flex-direction: column
	&.light
		background-color: $white
		& .sliderNoPhotos
			color: $black
		& .title
			color: $black
		& .rightUserName
			color: $black
	&.dark
		background-color: $dark
		& .sliderNoPhotos
			color: $white
		& .title
			color: $white
		& .rightUserName
			color: $white

.header
	padding: 15px
	border-bottom: 1px solid $grayDark

.title
	font-size: 15px
	text-align: center

.errors
	color: red

.content
	display: grid
	grid-template-columns: 1fr minmax(auto, 300px)

.slider
	max-height: 385px
	user-select: none
	overflow: hidden
	display: flex
	align-items: center
	background-color: $grayDark

.right
	display: grid
	grid-template-rows: 105px auto
	&Header
		display: grid
		grid-template-rows: repeat(2, auto)
		padding: 10px 10px 0 10px
		border-left: 1px solid $grayDark
		&User
			display: flex
			align-items: center
			gap: 10px
			&Name
				font-size: 15px
				font-weight: 600
	&Avatar
		width: 40px
		height: 40px
		border-radius: 50%
		background-repeat: no-repeat
		background-size: cover
		background-position: center
	&Caption
		border: none !important
		border-left: 1px solid $grayDark !important
		resize: none !important
	&Down
		display: grid
		grid-template-rows: minmax(200px, 1fr) repeat(2, minmax(auto, 40px))

@media screen and (max-width: 730px)
	.content
		display: grid
		grid-template-rows: repeat(2, 1fr)
		grid-template-columns: none
