@import "../../../styles/_vars"

.wrapper
	position: fixed
	top: 2%
	right: 2%
	padding: 10px
	border-radius: 2px
	border: 1px solid $grayDark
	z-index: 999
	display: grid
	grid-template-columns: 1fr auto
	gap: 10px
	align-items: center
	max-width: 450px
	&.light
		background-color: $white
		& .text
			color: $black
	&.dark
		background-color: $darkBlueHover
		& .text
			color: $white

.text
	line-height: 22px
	font-size: 15px
