@import "../../styles/_vars"

.footer
	&.light
		background-color: $white
		& .text a
			color: $pink
	&.dark
		background-color: $darkBlue
		& .text a
			color: $darkBlueLight

.container
	max-width: $containerWidth
	margin: 0 auto
	padding: 25px 15px
	text-align: center

.text
	color: $grayDark
	& a
		&:hover
			text-decoration: underline
