@import "../../styles/_vars"

.wrapper
	display: grid
	grid-template-rows: 160px 1fr
	gap: 50px
	position: relative
	&.light
		& .name
			color: $black
		& .infoDescriptionText
			color: $black
		& .infoNumsItem
			color: $black
	&.dark
		& .name
			color: $white
		& .infoDescriptionText
			color: $white
		& .infoNumsItem
			color: $white

.top
	display: grid
	grid-template-columns: 152px 1fr
	align-items: center
	gap: 65px

.avatar
	width: 152px
	height: 152px
	border-radius: 50%
	background-position: center
	background-repeat: no-repeat
	background-size: cover

.info
	display: flex
	flex-direction: column
	gap: 20px
	&Top
		display: flex
		align-items: center
		gap: 25px
		&Button
			max-width: 200px
	&Nums
		max-width: 50%
		&List
			display: flex
			align-items: center
			justify-content: space-between
			gap: 10px
	&DescriptionText
		display: -webkit-box
		-webkit-line-clamp: 3
		-webkit-box-orient: vertical
		overflow: hidden
		text-overflow: ellipsis
		line-height: 22px
		font-size: 15px

.name
	font-size: 32px
	font-weight: 100

.content
	&List
		display: grid
		grid-template-columns: repeat(auto-fill, 300px)
		gap: 20px
	&Item
		background-position: center
		background-size: cover
		background-repeat: no-repeat
		width: 300px
		height: 300px
		color: #fff
		position: relative
		&Info
			position: absolute
			width: 100%
			height: 100%
			background-color: rgba(0,0,0,.3)
			display: flex
			justify-content: center
			align-items: center
			gap: 20px
			& span
				display: flex
				align-items: center
				gap: 10px
				& svg, path
					fill: #fff !important
					width: 23px
					height: 23px
	&NoPosts
		margin-top: 50px
		display: flex
		justify-content: center
		& p
			color: $grayDark

.switch
	&Post
		position: fixed
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		width: 95%
		z-index: 999
		display: flex
		justify-content: space-between
		align-items: center
	&Btn
		background: transparent
		border: none
		cursor: pointer
		& svg, path
			fill: #fff !important
			width: 30px
			height: 30px
	&Right svg
		transform: rotate(180deg)

.modalWrapper
	position: fixed
	top: 0
	bottom: 0
	right: 0
	left: 0
	background-color: rgba(0,0,0,.4)
	z-index: 99
