@import "../../styles/_vars"

.header
	backdrop-filter: blur(4px)
	position: sticky
	top: 0
	z-index: 99
	&.light
		background-color: $lightHeader
		& .item
			& svg, path
				fill: $white !important
				stroke: $black !important
		& .searchIcon svg, path
			fill: $black !important
			stroke: $black !important
	&.dark
		background-color: $darkHeader
		& .item
			& svg, path
				fill: $white !important
				stroke: $white !important
		& .searchIcon svg, path
			fill: $white !important
			stroke: $white !important

.logo
	font-family: $fontInter
	font-weight: 600
	&.light
		color: $black
	&.dark
		color: $white
	&::first-letter
		color: $pink
	&Header
		font-size: 25px
		grid-area: logo
		justify-self: start

.container
	max-width: $containerWidth
	margin: 0 auto
	display: grid
	grid-template-columns: 160px repeat(2, auto)
	gap: 10px
	padding: 0 15px
	align-items: center
	grid-auto-rows: 70px
	grid-template-areas: "logo search search search search search user"

.search
	justify-self: center
	grid-area: search
	position: relative
	&Icon
		position: absolute
		top: 4px
		left: 8px
	& input
		padding-left: 40px

.user
	justify-self: end
	grid-area: user

.list
	display: grid
	grid-template-columns: repeat(3, minmax(25px, 30px))
	gap: 20px

.item
	&UserAvatar
		border-radius: 50%
		width: 30px
		height: 30px
		background-position: center
		background-repeat: no-repeat
		background-size: cover
	&Like
		& a
			position: relative
		&Count
			font-size: 13px
			position: absolute
			top: -15px
			right: 0
			color: $white
			background-color: red
			padding: 0 2px
			border-radius: 10px
			text-align: center
			display: flex
			justify-content: center
			user-select: none

@media screen and (max-width: 620px)
	.logoHeader
		display: none
	.container
		grid-template-columns: 1fr auto
		grid-template-areas: "search user"
	.search
		width: 100%
