@import "../../../styles/_vars"

.button
	cursor: pointer
	background-color: $pink
	border: 1px solid transparent
	padding: 8px
	width: 100%
	color: #fff
	border-radius: 2px
	font-weight: 600
	&:hover
		border-color: $grayDark
