@import "./_vars.sass"

*, *::after, *::before
	padding: 0
	margin: 0
	box-sizing: border-box
	list-style-type: none
	outline: none
	text-decoration: none

a
	color: inherit

body
	font-family: $fontInter
	&.light
		background-color: $gray
	&.dark
		background-color: $bodyDark

img
	max-width: 100%
