@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800&display=swap')

// light theme
$white: #fff
$lightHeader: rgba(255,255,255,.9)

$pink: #C42F5A
$pinkHover: #E8376C
$pinkLight: #ed8da8

// dark theme
$black: #000
$darkHeader: rgba(28,42,58,.9)
$dark: #1C2A3A
$bodyDark: #1C1C1C

$darkBlue: #16202A
$darkBlueHover: #2a3c4e
$darkBlueLight: #4c6178

// other
$gray: #EEEEEE
$grayDark: #B4B4B4

$fontInter: "Inter", sans-serif

$containerWidth: 970px
